kserve==0.10.2
fastapi==0.88.0
transformers==4.30.2
captum==0.6.0

torchserve==0.8.1

pycocotools==2.0.6
matplotlib==3.7.1
terminaltables==3.1.0
nvgpu==0.9.0
pynvml==11.4.1
Pillow==9.5.0
addict==2.4.0
tensorboard==2.13.0
protobuf==3.19.6
requests==2.28.2
urllib3==1.26.14
chardet==5.1.0